<h1>My tasks</h1>
<ul>
  <% @tasks.each do |item| %>  
    <li><%= link_to(item.title, task_path(item.id)) %>
    <%= link_to "Delete", "/tasks/#{item.id}", method: :delete, data: { confirm: "Are you sure?"} %>
    <%= tag.i class: 'fas fa-trash-alt' %></li>
  <% end %>
</ul>

<%= link_to "Add a new task", new_task_path %>